<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>О нас</title>
  <link rel="stylesheet" href="../static/css/about_style.css">
</head>
<body>
  <header>
    <h1>О нас</h1>
    <nav class="main-nav">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/catalog">Каталог</a></li>
          <li><a href="/basket">Корзина</a></li>
          <li><a href="/about">О нас</a></li>
        </ul>
    </nav>
  </header>

  <main>
    <section class="about">
      <h2>Наша компания</h2>
      <p>Компания "Ата Аяз" - это инновационный сервис доставки новогодних подарков, который создан для того, чтобы сделать праздничный сезон еще более волшебным и комфортным для всех. Мы специализируемся на доставке подарков к Новому Году, предоставляя широкий выбор оригинальных и качественных подарков для различных возрастов и предпочтений.</p>

      </p>Наша компания гарантирует своим клиентам не только высокое качество товаров, но и оперативность доставки. Мы стремимся к тому, чтобы каждый подарок был доставлен вовремя и с особой заботой. Наша команда профессионалов заботится о каждой детали - начиная от упаковки подарка с любовью и вниманием к деталям, до точной и своевременной доставки прямо к порогу получателя.</p>
        
      </p>Мы осознаем, что Новый Год - время волшебства, и поэтому делаем все возможное, чтобы создать незабываемый опыт для тех, кто получает наши подарки. Будьте уверены, что выбрав "Ата Аяз", вы получите не только качественный подарок, но и удовольствие от процесса его получения и передачи радости близким и друзьям в этот особенный праздник.</p>

    </section>

    <section class="contact-info">
      <h2>Наши контакты</h2>
      <p>Наш адрес: Новослободская 12, Санкт-Петербург, Россия, 187015</p>
      <p>Телефон: +7 123 456 789</p>
      <p>Email: ataayz@yandex.ru</p>      
    </section>

  </main>


</body>
</html>
